beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
mysql-connector-python==8.4.0
numpy==2.0.0
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.5
tzdata==2024.1
urllib3==2.2.1


if social_media_data != 'Not Found':
    for item in social_media_data:
        cursor.execute(
            "INSERT INTO social_media (website_id, platform, link) VALUES (%s, %s, %s)",
            (website_id, item['platform'], item['link'])
        )
else:
    # Insert NULL values for platform and link
    cursor.execute(
        "INSERT INTO social_media (website_id, platform, link) VALUES (%s, %s, %s)",
        (website_id, None, None)
    )